 body{
  background-color: #eee;
}
.container{
  padding: 0 20px 30px;
  width: 300px;
  background: white;
  border: 2px solid #eaeaea;
  position: fixed;
  top: 100px;
  left: 100px;
}
button{
  position: absolute !important;
  right: 20px;
  bottom: -28px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v46/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
